<style>
  table {
    border-collapse: collapse;
    margin: 2rem 0;
    background: #fff;
    box-shadow: 0 2px 8px #0001;
    table-layout: fixed;
    width: 100%;
  }
  th,
  td {
    border: 0px solid #ccc;
    padding: 0.7em 1.2em;
    text-align: left;
  }
  th {
    background: #dbe6ee;
    color: #000;
    text-align: center;
    text-transform: capitalize;
  }
  tr:nth-child(even) td {
    background: #f2f6fa;
  }
  .score-cell {
    text-align: center;
  }
  @media (max-width: 900px) {
    table,
    th,
    td {
      font-size: 0.95em;
    }
  }
  @media (max-width: 600px) {
    table,
    th,
    td {
      font-size: 0.85em;
    }
    th,
    td {
      padding: 0.5em 0.3em;
    }
  }
</style>
<table>
  {{table_head}} {{table_body}}
</table>
